#search{
  text-align: center;
  margin:15px 0 15px 0;
  font-family: sans-serif;
  border-bottom: 1px solid black;

}

#search input[type=text]{
  padding: 5px 0 5px 5px;
  border-radius: 3px;
  border-color: black;
  margin: 15px 0;
}
#search input[type=submit]{
  padding: 5px 15px;;
}
